<?xml version="1.0"?>
<launch>
    <arg name="fps" default="30"/>
    <arg name="width" default="640"/>
    <arg name="height" default="480"/>

    <include file="$(find snap_bringup)/launch/webcam.launch">
        <arg name="fps" value="$(arg fps)"/>
        <arg name="width" value="$(arg width)"/>
        <arg name="height" value="$(arg height)"/>
        <arg name="machine" value="snap"/>
        <arg name="ns" value="camera/arm"/>
        <!--arg name="needs_manager" value="false"/-->
    </include>

    <include file="$(find snap_bringup)/launch/webcam.launch">
        <arg name="fps" value="$(arg fps)"/>
        <arg name="width" value="$(arg width)"/>
        <arg name="height" value="$(arg height)"/>
        <arg name="machine" value="crackle"/>
        <arg name="ns" value="camera/mast"/>
    </include>


</launch>
